<a href="https://colab.research.google.com/github/vlborshh/python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
print(lst)
print()
data = pd.DataFrame({'whoAmI':lst})
data.loc[data['whoAmI'] == 'robot', 'robot_group'] = '1'
data.loc[data['whoAmI'] != 'robot', 'robot_group'] = '0'
data.loc[data['whoAmI'] == 'human', 'human_group'] = '1'
data.loc[data['whoAmI'] != 'human', 'human_group'] = '0'

data.head(n=20)

['robot', 'human', 'robot', 'human', 'robot', 'human', 'human', 'robot', 'human', 'robot', 'robot', 'human', 'robot', 'robot', 'robot', 'robot', 'human', 'human', 'human', 'human']

   whoAmI robot_group human_group
0   robot           1           0
1   human           0           1
2   robot           1           0
3   human           0           1
4   robot           1           0
5   human           0           1
6   human           0           1
7   robot           1           0
8   human           0           1
9   robot           1           0
10  robot           1           0
11  human           0           1
12  robot           1           0
13  robot           1           0
14  robot           1           0
15  robot           1           0
16  human           0           1
17  human           0           1
18  human           0           1
19  human           0           1